/* lista-contatti.component.css */
.contatto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
  }
  
  .online-dot {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .offline-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
  }
  